.vscode/

cmake-build-debug/
build/

bin/
lib/
*.exe
*.obj
*.o
*.pdb

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
rules.ninja
*.ninja

.idea/

Testing/Temporary/

*.log
*.user
*.swp

*.pyc

